$light: #fff;
$primary-color: #52ACCC;
$secondary-color: #52ACCC;
$pink-color: rgb(249, 72, 119);
$black:#111;
$black-light: #2b2e3a;
$border-color:#E9ECEF;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Source Sans Pro', sans-serif;
