<section class="about" >
	<div class="container">
		<div class="columns is-desktop is-align-items-center">
			<div class="column is-6-desktop">
				<div class="about-img" data-aos="fade-right" data-aos-delay="200" style="line-height: 0">
					<img src="images/about/build ai.png" alt="" class="">
				</div>
			</div>
			<div class="column is-6-desktop">
				<div class="about-item">
					<h2 class="mt-3 mb-4 font-secondary"> We build intelligent AI Solutions designed for business growth.</h2>
					<p class="mb-5">Unlock untapped potential with safe, responsible, and powerful AI solutions.</p>

					<a href="#" class="btn btn-main">Get started</a>
				</div>
			</div>
		</div>
	</div>
</section>