<section class="about">
	<div class="container">
		<div class="columns is-desktop is-align-items-center">
			<div class="column is-6-desktop">
				<div class="about-img" data-aos="fade-right" data-aos-delay="200" style="line-height: 0">
					<img src="images/about/build ai.png" alt="" class="">
				</div>
			</div>
			<div class="column is-6-desktop">
				<div class="about-item">
					<h2 class="mt-3 mb-4 font-secondary"> A Suite of Capabilities for Every Professional.</h2>
					<p class="mb-5">Aether Sync equips your entire workforce with a powerful suite of AI tools designed
						to automate mundane work, enhance creativity, and streamline daily operations.</p>

					<a href="#" class="btn btn-main">Get started</a>
				</div>
			</div>
		</div>
	</div>
</section>