<section class="section counter" >
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item has-text-centered mt-5 " data-aos="fade-up" data-aos-delay="100">
					<h3 class="mb-0"><span class="counter-stat ">20</span> +</h3>
					<p class="text-muted">Projects Done</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item has-text-centered mt-5" data-aos="fade-up" data-aos-delay="200">
					<h3 class="mb-0"><span class="counter-stat ">100 </span> +</h3>
					<p class="text-muted">AI Agents Deployed</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item has-text-centered mt-5 "data-aos="fade-up" data-aos-delay="300">
					<h3 class="mb-0"><span class="counter-stat ">14</span> Days</h3>
					<p class="text-muted">Average Time-to-POC</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item has-text-centered mt-5" data-aos="fade-up" data-aos-delay="400">
					<h3 class="mb-0"><span class="counter-stat ">24</span>+</h3>
					<p class="text-muted">AI Workflows Automated </p>
				</div>
			</div>
		</div>
	</div>
</section>