<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-desktop is-5-tablet">
				<div class="widget mb-0">
					<div class="logo mb-4">
						<h2 class="has-text-white" style="font-size:2rem">AetherSync</h2>
					</div>
					<a href="mailto:support@themefisher.com" class="has-text-white">info@aethersynced.com</a>
					<p class="mt-4 mb-3">Karen -Ndege Road, Gate No. 125 <br> Nairobi, Kenya</p>
					<a href="tel:+23-456-6588"><span class="has-text-white h4">254 (793) 743-509</span></a>
				</div>
			</div>

			<div class="column is-2-desktop is-5-tablet">
				<div class="widget has-text-white mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="about.html">About</a></li>
						<li><a href="service.html">Services</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Follow us</h4>
					<ul class="list-unstyled footer-socials">
						<li><a href="#"><i class="ti-facebook mr-2 text-muted"></i>facebook</a></li>
						<li><a href="#"><i class="ti-twitter mr-2 text-muted"></i>Twitter</a></li>
						<li><a href="#"><i class="ti-github mr-2 text-muted"></i>Github</a></li>
						<li><a href="#"><i class="ti-dribbble mr-2 text-muted"></i>Dribble</a></li>
					</ul>
					
				</div>
			</div>
		</div>
		
		<div class="footer-btm pt-4 pb-3">
			<div class="columns is-justify-content-center">
				<div class="column has-text-centered">
					<div class="copyright">
						<p>&copy; Copyright 2025 Design &amp; Developed by <a href="https://x.com/ephygitz" target="_blank" class=" has-text-white">codeBender</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>