<section class="section bg-gray blog-latest">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-6-widescreen is-8-desktop is-10-tablet has-text-centered">
				<div class="section-title" >
					<h2 class="content-title mb-4">Latest News & Articles</h2>
					<p>Don’t just take our words for it. Our clients are our biggest supporters. Would you like to know what they think about us?</p>
				</div>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-desktop is-6-tablet">
				<div class="shadow-sm-2 blog-item bg-white rounded" data-aos="fade-up" data-aos-delay="200"  data-aos-duration="500" >
					<img src="images/blog/blog1.png" class=" rounded-top" alt="...">
					<div class="p-4">
						<div class="is-flex w-100 is-justify-content-space-between">
							<span class="text-black">AI Automation</span>
							<span >by Eddy N</span>
							<span >14 days ago</span>
						</div>
						<h3 class="mb-2 mt-2"><a href="blog-single.html">Custom AI Agent Engineering</a></h3>
						<p class="mb-4">architect, deploy, and maintain AI systems tailored to your specific business operations </p>
						<a href="blog-single.html" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>
			<div class="column is-4-desktop is-6-tablet">
				<div class="shadow-sm-2 blog-item bg-white rounded" data-aos="fade-up" data-aos-delay="300"  data-aos-duration="500">
					<img src="images/blog/blog2.png" class=" rounded-top" alt="...">
					<div class="p-4">
						<div class="is-flex w-100 is-justify-content-space-between">
							<span class="text-black">Development</span>
							<span>by Allela</span>
							<span >3 days ago</span>
						</div>
						<h3 class="mb-2 mt-2"><a href="blog-single.html">Fully Managed</a></h3>
						<p class="mb-4">builds and manages end-to-end automation systems that integrate seamlessly into your workflows,</p>
                  <a href="blog-sidebar.html" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>
			<div class="column is-4-desktop is-6-tablet">
				<div class="shadow-sm-2 blog-item bg-white rounded" data-aos="fade-up" data-aos-delay="400"  data-aos-duration="500">
					<img src="images/blog/blog3.png" class=" rounded-top" alt="...">
					<div class="p-4">
						<div class="is-flex w-100 is-justify-content-space-between">
							<span class="text-black">Design</span>
							<span >by Ephra G</span>
							<span >7 days ago</span>
						</div>
						<h3 class="mb-2 mt-2"><a href="blog-single.html">AI Partner </a></h3>
						<p class="mb-4">Partners with your team to assess opportunities for AI implementation, align solutions with business goals,</p>
						<a href="blog-grid.html" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>