<section class="section pricing bg-primary is-relative">
    <div class="hero-img bg-overlay"></div>
    <div class="container">
       <div class="columns is-justify-content-center">
          <div class="column is-6-widescreen is-8-desktop is-10-tablet has-text-centered">
             <div class="section-title" >
                <h2 class="has-text-white mb-4">AI Development Partner Package</h2>
                <p class="text-white-50">> At AetherSynced, we act as your dedicated AI partner—focused on identifying and executing the highest ROI opportunities for automation within your business.
                  <br/> >
Our mission is to help you and your team reclaim valuable hours each week by designing intelligent systems that eliminate repetitive tasks, streamline workflows, and scale with your operations.Over time, these time savings compound into massive gains in efficiency, productivity, and growth.  </p>
             </div>
          </div>
       </div>
       <div class="columns is-multiline is-justify-content-center">
          <div class="column is-4-desktop is-6-tablet">
             <div class="card has-text-centered mb-lg-0 mb-3" data-aos="fade-down" data-aos-delay="100">
                <div class="py-6">
                   <div class="pricing-header mb-4 border-bottom pb-4">
                      <span class="mb-3 h5 plan">Standard</span>
                      <p class="text-muted">Essential tools to launch your AI strategy.</p>
                      <h1><small>$20/Month</small></h1>
                   </div>
                   <ul class="lh-45 mt-3 text-black">
                      <li><i class="ti-check-box"></i>10 agents  </li>
                      <li><i class="ti-check-box"></i>1,000 queries per month</li>
                      <li><i class="ti-check-box"></i>2,000 documents per agent </li>
                      <li><i class="ti-check-box"></i>RAG API Access </li>
                   </ul>
                   <a href="#" class="btn btn-solid-border mt-5 ">Start Free 7-Day Trial</a>
                </div>
             </div>
          </div>
          <div class="column is-4-desktop is-6-tablet">
             <div class="card has-text-centered mb-lg-0 mb-3 " data-aos="fade-down" data-aos-delay="300">
                <div class="py-6">
                   <div class="pricing-header mb-4 border-bottom pb-4 active">
                      <span class="mb-3 h5 plan ">Premium</span>
                      <p class="text-muted">UAdvanced AI functionality and scalability.</p>
                      <h1><small>$100/Month</small></h1>
                   </div>
                   <ul class="lh-45 mt-3 text-black">
                      <li><i class="ti-check-box"></i>Everything in Standard, plus   </li>
                      <li><i class="ti-check-box"></i>20 agents</li>
                      <li><i class="ti-check-box"></i>5,000 queries per month  </li>
                      <li><i class="ti-check-box"></i>Remove AetherSync Branding </li>
                   </ul>
                   <a href="#" class="btn btn-main mt-5">Start Free 7-Day Trial</a>
                </div>
             </div>
          </div>
          <div class="column is-4-desktop is-6-tablet">
             <div class="card has-text-centered mb-lg-0 mb-3" data-aos="fade-down" data-aos-delay="500"  >
                <div class="py-6">
                   <div class="pricing-header mb-4 border-bottom pb-4">
                      <span class="mb-3 h5 plan">Enterprise</span>
                      <p class="text-muted">Comprehensive AI solutions and support.</p>
                      <h1><small>Contact Us </small></h1>
                   </div>
                   <ul class="lh-45 mt-3 text-black">
                      <li><i class="ti-check-box"></i>Everything in Premium, plus   </li>
                      <li><i class="ti-check-box"></i>Custom data, queries, and seats</li>
                      <li><i class="ti-check-box"></i>Engineering support   </li>
                      <li><i class="ti-check-box"></i>Auto-sync all sources </li>
                   </ul>
                   <a href="contact.html" class="btn btn-solid-border mt-5">TALK TO SALES</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>