<section class="slider">
   <div class="container">
      <div class="columns is-justify-content-center">
         <div class="column is-9-widescreen is-12-desktop">
            <div class="has-text-centered">
               <span class="is-block mb-4 is-uppercase">Unlock Human Potential with a Frontier AI Platform</span>
               <h3 class="animated fadeInUp mb-4 has-text-white">Drive productivity and innovation with Aether Sync's secure, enterprise-grade AI. Our platform provides a unified suite of advanced models, powerful tools, and seamless workflow integrations for every role in your organization.
 </h3>
               <a href="#sync" class="btn btn-main animated fadeInUp m-1" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>
               <a href="service.html" class="btn btn-solid-border animated fadeInUp m-1" >Explore Our Solutions</a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="mt--6 is-relative slider-cta">
   <div class="container">
      <div class="columns is-desktop is-align-items-center bg-primary rounded">
         <div class="column is-8-desktop">
            <h3 class="mb-4 has-text-white">Aether Sync for Business:</h3>
            <p class="text-white-50">Aether Sync for Business is engineered to revolutionize how your teams collaborate and innovate. Our platform delivers enterprise-grade security and comprehensive administrative controls. With seamless connectors to your existing company tools such as Google Drive, SharePoint, and Microsoft Teams, Aether Sync integrates directly into your daily workflows. By securely analyzing your internal knowledge base, it provides uniquely tailored insights and transforms your business from the inside out.</p>
         </div>
         <div class="column is-4-desktop has-text-right">
            <a href="service.html" class="btn btn-white mb-0">Learn more</a>
         </div>
      </div>
   </div>
</section>