<section class="slider">
   <div class="container">
      <div class="columns is-justify-content-center">
         <div class="column is-9-widescreen is-12-desktop">
            <div class="has-text-centered">
               <span class="is-block mb-4 is-uppercase">Engineer Your Future-Ready Enterprise</span>
               <h3 class="animated fadeInUp mb-4 has-text-white">We architect transformative digital synergy. Aether Sync delivers seamless, AI-driven solutions to optimize operations, unlock data potential, and accelerate your journey to digital excellence. </h3>
               <a href="#!" class="btn btn-main animated fadeInUp m-1" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>
               <a href="#!" class="btn btn-solid-border animated fadeInUp m-1" >Explore Our Solutions</a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="mt--6 is-relative slider-cta">
   <div class="container">
      <div class="columns is-desktop is-align-items-center bg-primary rounded">
         <div class="column is-8-desktop">
            <h3 class="mb-4 has-text-white">From Digital Disconnect to Intelligent Synchronization.</h3>
            <p class="text-white-50">Individual tools are not enough. True digital success is achieved when every component of your ecosystem— from customer touchpoints to backend logic—operates in perfect harmony. We eliminate digital silos and automate complexity to create a single, intelligent, and optimized enterprise. </p>
         </div>
         <div class="column is-4-desktop has-text-right">
            <a href="#!" class="btn btn-white mb-0">Learn more</a>
         </div>
      </div>
   </div>
</section>