<!-- Section Testimonial Start -->
<section class="testimonial section bg-gray bg-4">
   <div class="container">
      <div class="columns is-desktop is-multiline">
         <div class="column is-7-desktop">
            <div class="testimonial-wrap has-text-centered">
               <div class="testimonial-item is-relative">
                  <i class="ti-quote-left text-color text-lg"></i>
                    <p class="mt-4">
                     </p> "Aether provided exceptional service and delivered our project on time. Highly recommended!"
                    </p>
                  <div class="testimonial-author">
                     <h5 class="mb-0 text-capitalize">Kimani Mwaura</h5>
                     <p>Excutive Director</p>
                  </div>
               </div>
               <div class="testimonial-item is-relative">
                  <i class="ti-quote-left text-color text-lg"></i>
                    <p class="mt-4">
                      "Working with Aether was a seamless experience. Their team is professional and attentive to detail."
                    </p>
                  <div class="testimonial-author">
                     <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                     <p>Director</p>
                  </div>
               </div>
               <div class="testimonial-item is-relative">
                  <i class="ti-quote-left text-color text-lg"></i>
                    <p class="mt-4">
                     "Aether's creative solutions helped us achieve our business goals efficiently."
                    </p>
                  <div class="testimonial-author">
                     <h5 class="mb-0 text-capitalize">James Watson</h5>
                     <p>Designer</p>
                  </div>
               </div>
               <div class="testimonial-item is-relative">
                  <i class="ti-quote-left text-color text-lg"></i>
                    <p class="mt-4">
                     "Aether consistently exceeds expectations with their innovative approach and dedication."
                    </p>
                  <div class="testimonial-author">
                     <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                     <p>Developer</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Section Testimonial End -->
<section class="section">
   <div class="container">
      <div class="columns is-gapless is-mobile is-multiline">
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision1.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision2.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision3.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision4.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision3.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision5.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision3.png" alt="" class=" w-100">
         </div>
         <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <img src="images/about/key-vision4.png" alt="" class=" w-100">
         </div>
      </div>
   </div>
</section>